#formulario {
  background-color: blanchedalmond;
  height: fit-content;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
input{
  width: auto;
  font-size: 24px;
}
.container {
width: 80%;
height: 200px;
margin: 20px 20px auto;
background-color: gray;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-shadow: 5px 5px 3px black;
}
.close-icon {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 12px;
}

#div-precio {
  display: flex;
  flex-direction: column;
}

#imagen{
  font-size: 24px;
}
#select {
  font-size: 24px;
}
#btn {
  font-size: 24px;
  margin-top: 30px;
  width: 30%;
  align-self: center;
}
#descripcion {
  height: 250px;
}