* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.secciones {
  width: 90%;
  height: 200px;
  background-color: gray;
  color: white;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#entradasTapeos {
  grid-row: 1/2;
}

#platosPrincipales {
  grid-row: 2/3;
}

#minutas {
  grid-row: 3/4;
}

#ensaladas {
  grid-row:4/5;
}

#menuInfantil {
  grid-row:5/6;
}

#postres {
  grid-row: 6/7;
}