* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
}
.menuInfantil {
  width: 90%;
  height: 200px;
  background-color: gray;
  color: white;
  margin: 30px auto;
}